.health-diary {
    .health-diary__background {
        min-width: 1920px;
        height: 800px;
        background-image: url('../../assets/background-lines.jpg');
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
    .health-diary__content {
        margin-top: -22px;
        width: 1160px;
        margin-top: 22px;
        display: flex;
    }
    .health-diary__mobile-image {
        position: relative;
        margin-left: 122px;
        margin-top: 147px;
        width: 278px;
        height: 602px;
        &::before {
            content: '';
            position: absolute;
            box-shadow: 22px 10px 66px 0px #737374;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
        }
        &::after {
            content: '';
            width: 278px;
            height: 602px;
            background-image: url('../../assets/mob.png');
            background-repeat: no-repeat;
            display: block;
            position: absolute;
        }
    }
    .health-diary__health-diary-information {
        margin-top: 210px;
        margin-left: 98px;
    }
    .health-diary__graph {
        position: absolute;
        bottom: -150px;
        right: 92px;
        background-image: url('../../assets/graph.png');
        background-repeat: no-repeat;
        width: 492px;
        height: 362px;
    }
    .health-diary-information {
        color: #60759d;
        .health-diary-information__title {
            font-size: 2.28em;
        }
        .health-diary-information__subtitle {
            padding-left: 2px;
            font-weight: bold;
            font-size: 1.01em;
        }
        .health-diary-information__list {
            padding: 0;
            padding-top: 5px;
            margin-left: 17px;
            font-weight: bold;
        }
        .health-diary-information__list>li {
            list-style-type: none;
            margin-bottom: 14px;
            line-height: 25px;
            font-size: 1.01em;
            &:before {
                content: "•";
                color: #16afe0;
                margin-left: -15px;
                position: absolute;
            }
        }
        .health-diary-information__button {
            margin-top: 19px;
            margin-left: 3px;
        }
    }
}